Repository swivvel/swivvel-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

temp
  src/background/utils/getFullscreenBounds.ts
  src/background/utils/getUbuntuVersion.ts
  src/background/utils/index.ts
  src/background/utils/isUbuntuVersionGreaterOrEqual.ts
Due: eslint --fix, prettier --write

open auth session link in browser
  src/background/utils/shouldOpenUrlInBrowser.ts
Due: eslint --fix, prettier --write

Fix transparent window bounds on Ubuntu >= 23.10 (#54)
  src/background/utils/getFullscreenBounds.ts
  src/background/utils/getUbuntuVersion.ts
  src/background/utils/index.ts
  src/background/utils/isUbuntuVersionGreaterOrEqual.ts
Due: eslint --fix, prettier --write

rename
  src/background/background.ts
  src/background/configureIpcHandlers.ts
  src/background/getDeepLinkHandler.ts
  src/background/useLogInService/handleLogInOAuthCallback.ts
  src/background/useLogInService/index.ts
  src/background/useLogInService/initiateLogIn.ts
  src/background/useLogInService/types.ts
  src/background/useLogInService/useLogInService.ts
  src/background/useSignInService/index.ts
  src/background/useSignInService/types.ts
  src/background/useSignInService/useSignInService.ts
  src/preload.ts
Due: eslint --fix, prettier --write

fix local login
  src/background/background.ts
  src/background/types.ts
  src/background/useLogInService/initiateLogIn.ts
  src/background/useWindowService/openLogInWindow/configureCloseHandler.ts
  src/background/useWindowService/openLogInWindow/getBrowserWindowOptions.ts
  src/background/useWindowService/openLogInWindow/index.ts
  src/background/useWindowService/openLogInWindow/listenForRedirects.ts
  src/background/useWindowService/openLogInWindow/openLogInWindow.ts
  src/background/useWindowService/openLogInWindow/types.ts
  src/background/useWindowService/types.ts
  src/background/useWindowService/useWindowService.ts
  src/background/utils/loadUrl.ts
  src/preload.ts
Due: eslint --fix, prettier --write

remove testing code
  src/background/background.ts
Due: eslint --fix, prettier --write

Handle log in from transparent window flow (#55)
  src/background/background.ts
  src/background/configureIpcHandlers.ts
  src/background/getDeepLinkHandler.ts
  src/background/types.ts
  src/background/useLogInService/handleLogInOAuthCallback.ts
  src/background/useLogInService/index.ts
  src/background/useLogInService/initiateLogIn.ts
  src/background/useLogInService/types.ts
  src/background/useLogInService/useLogInService.ts
  src/background/useWindowService/getWindowOpenRequestHandler.ts
  src/background/useWindowService/openLogInWindow/configureAppActivateHandler.ts
  src/background/useWindowService/openLogInWindow/listenForRedirects.ts
  src/background/useWindowService/openLogInWindow/openLogInWindow.ts
  src/background/useWindowService/openLogInWindow/types.ts
  src/background/useWindowService/openLogInWindow/updateTray.ts
  src/background/useWindowService/useWindowService.ts
  src/background/utils/loadUrl.ts
  src/background/utils/shouldOpenUrlInBrowser.ts
  src/preload.ts
Due: eslint --fix, prettier --write

v1.2.29
  package-lock.json
  package.json
Due: prettier --write

temp
  src/background/useWindowService/openGoogleMeetWindow/patchGetDisplayMediaOnUrlChange/patchGetDisplayMediaOnUrlChange.ts
Due: eslint --fix, prettier --write

Check if window destroyed in patchGetDisplayMediaOnUrlChange (#56)
  src/background/useWindowService/openGoogleMeetWindow/patchGetDisplayMediaOnUrlChange/patchGetDisplayMediaOnUrlChange.ts
Due: eslint --fix, prettier --write

temp
  src/background/useTrayService/utils/getBaseMenuItems.ts
Due: eslint --fix, prettier --write

Always show Dev Tools tray menu option (#57)
  src/background/useTrayService/utils/getBaseMenuItems.ts
Due: eslint --fix, prettier --write

v1.2.30
  package-lock.json
  package.json
Due: prettier --write

Fix Mac app icon size
  build/icon.icns
Due: none

Fix Mac app icon size (#58)
  build/icon.icns
Due: none

tmep
  src/background/useWindowService/utils/openBrowserWindow.ts
  src/preload.ts
Due: eslint --fix, prettier --write

Add logs to debug issue where `window.electron` is undefined (#59)
  src/background/useWindowService/utils/openBrowserWindow.ts
  src/preload.ts
Due: eslint --fix, prettier --write

temp
  package-lock.json
  package.json
Due: prettier --write

temp
  src/background/useWindowService/openTransparentWindow/getFileLogger.ts
Due: eslint --fix, prettier --write

temp
  .eslintrc.js
Due: none

Upgrade all packages to newest versions (#60)
  .eslintrc.js
  package-lock.json
  package.json
  src/background/useWindowService/openTransparentWindow/getFileLogger.ts
Due: eslint --fix, prettier --write

v1.2.31
  package-lock.json
  package.json
Due: prettier --write

temp
  src/background/background.ts
  src/background/configureGlobalKeyboardShortcuts.ts
  src/background/setUserDataPath.ts
  src/preload.ts
Due: eslint --fix, prettier --write

temp
  src/background/configureGlobalKeyboardShortcuts.ts
Due: eslint --fix, prettier --write

Add keyboard shortcut for toggling mute state (#61)
  src/background/background.ts
  src/background/configureGlobalKeyboardShortcuts.ts
  src/background/setUserDataPath.ts
  src/preload.ts
Due: eslint --fix, prettier --write

v1.2.32
  package-lock.json
  package.json
Due: prettier --write

temp
  build/icon-linux.icns
  package.json
Due: prettier --write

Remove padding from app icon on Linux (#62)
  build/icon-linux.icns
  package.json
Due: prettier --write

temp
  src/background/useWindowService/openGoogleMeetWindow/pollForJoinAndLeaveEvents/triggerMeetingLeftEvent.ts
Due: eslint --fix, prettier --write

temp
  src/background/useWindowService/openGoogleMeetWindow/configureCloseHandler.ts
  src/background/useWindowService/openGoogleMeetWindow/openGoogleMeetWindow.ts
  src/background/useWindowService/openGoogleMeetWindow/triggerMeetingCreatedEvent.ts
Due: eslint --fix, prettier --write

Check if Google Meet window destroyed in more places (#63)
  src/background/useWindowService/openGoogleMeetWindow/configureCloseHandler.ts
  src/background/useWindowService/openGoogleMeetWindow/openGoogleMeetWindow.ts
  src/background/useWindowService/openGoogleMeetWindow/pollForJoinAndLeaveEvents/triggerMeetingLeftEvent.ts
  src/background/useWindowService/openGoogleMeetWindow/triggerMeetingCreatedEvent.ts
Due: eslint --fix, prettier --write

allow link to google in meet window for okta sign in
  src/background/useWindowService/openGoogleMeetWindow/openGoogleMeetWindow.ts
Due: eslint --fix, prettier --write

Revert "allow link to google in meet window for okta sign in"
  src/background/useWindowService/openGoogleMeetWindow/openGoogleMeetWindow.ts
Due: eslint --fix, prettier --write

Allow link to google in meet window for Okta sign in (#64)
  src/background/useWindowService/openGoogleMeetWindow/openGoogleMeetWindow.ts
Due: eslint --fix, prettier --write

v1.2.33
  package-lock.json
  package.json
Due: prettier --write

temp
  src/background/utils/getFullscreenBounds.ts
Due: eslint --fix, prettier --write

Position transparent window using work area `x` (#65)
  src/background/utils/getFullscreenBounds.ts
Due: eslint --fix, prettier --write

v1.2.34
  package-lock.json
  package.json
Due: prettier --write

temp
  src/background/configureTransparentWindowResizeHandler.ts
  src/background/useWindowService/openHqWindow/getBrowserWindowOptions.ts
  src/background/useWindowService/openHqWindow/openHqWindow.ts
  src/background/useWindowService/openTransparentWindow/getBrowserWindowOptions.ts
  src/background/useWindowService/openTransparentWindow/openTransparentWindow.ts
  src/background/useWindowService/utils/openBrowserWindow.ts
  src/background/utils/getFullscreenBounds.ts
  src/background/utils/getPrimaryDisplayWorkAreaBounds/getLinuxBounds/getLinuxBounds.ts
  src/background/utils/getPrimaryDisplayWorkAreaBounds/getLinuxBounds/index.ts
  src/background/utils/getPrimaryDisplayWorkAreaBounds/getNonLinuxBounds.ts
  src/background/utils/getPrimaryDisplayWorkAreaBounds/getPrimaryDisplayWorkAreaBounds.ts
  src/background/utils/getPrimaryDisplayWorkAreaBounds/index.ts
  src/background/utils/getPrimaryDisplayWorkAreaBounds/types.ts
  src/background/utils/index.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{json,md,ts,tsx,yml}
