Repository swivvel/swivvel-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

temp
  src/background/configureIpcHandlers.ts
  src/background/useWindowService/openTransparentWindow/pollForMouseEvents.ts
Due: eslint --fix, prettier --write

temp
  src/background/useWindowService/openTransparentWindow/pollForMouseEvents.ts
Due: eslint --fix, prettier --write

temp
  src/background/useWindowService/openTransparentWindow/pollForMouseEvents.ts
  src/background/utils/index.ts
  src/background/utils/isMac.ts
Due: eslint --fix, prettier --write

temp
  src/background/useWindowService/openTransparentWindow/configureMousePassThroughHandler.ts
  src/background/useWindowService/openTransparentWindow/openTransparentWindow.ts
Due: eslint --fix, prettier --write

temp
  src/background/useWindowService/openTransparentWindow/configureMousePassThroughHandler.ts
Due: eslint --fix, prettier --write

temp
  src/preload.ts
Due: eslint --fix, prettier --write

here goes nothin
  .github/workflows/build.yml
Due: prettier --write

file already in right spot
  .github/workflows/build.yml
Due: prettier --write

upload it somewhere
  .github/workflows/build.yml
Due: prettier --write

fix syntax
  .github/workflows/build.yml
Due: prettier --write

target correct exe
  .github/workflows/build.yml
Due: prettier --write

what will this do
  .github/workflows/build.yml
  .husky/myAfterPackHook.js
  package.json
Due: prettier --write

move file
  myAfterPackHook.js
Due: none

Use `mousemove` to detect when mouse over transparent area (#36)
  src/background/useWindowService/openTransparentWindow/configureMousePassThroughHandler.ts
  src/background/useWindowService/openTransparentWindow/openTransparentWindow.ts
  src/background/useWindowService/openTransparentWindow/pollForMouseEvents.ts
  src/background/utils/index.ts
  src/background/utils/isMac.ts
  src/preload.ts
Due: eslint --fix, prettier --write

no lint
  .github/workflows/build.yml
Due: prettier --write

correct syntax
  package.json
Due: prettier --write

not windows
  package.json
Due: prettier --write

export correctly
  myAfterPackHook.js
Due: none

no escape
  myAfterPackHook.js
Due: none

try to see whats up
  myAfterPackHook.js
Due: none

idk
  myAfterPackHook.js
Due: none

buffer
  myAfterPackHook.js
Due: none

look in dist
  myAfterPackHook.js
Due: none

move to sign
  myAfterPackHook.js
  package.json
Due: prettier --write

blh
  myAfterPackHook.js
Due: none

temp
  src/background/background.ts
  src/background/setUserDataPath.ts
  src/background/useWindowService/openTransparentWindow/getLogger.ts
Due: eslint --fix, prettier --write

temp
  src/background/setUserDataPath.ts
Due: eslint --fix, prettier --write

maybe
  myAfterPackHook.js
Due: none

release?
  .github/workflows/build.yml
Due: prettier --write

release
  .github/workflows/build.yml
Due: prettier --write

make a fake version
  package.json
Due: prettier --write

more logging. sign lots of files
  myAfterPackHook.js
Due: none

make ts
  .github/workflows/build.yml
  myAfterPackHook.js
  package.json
  tsconfig.json
Due: prettier --write

fix format
  .github/workflows/build.yml
Due: prettier --write

untracked
  signing/signWindows.ts
Due: eslint --fix, prettier --write

idk again
  signing/signWindows.ts
Due: eslint --fix, prettier --write

back to js file
  .eslintrc.js
  package.json
  signWindows.js
Due: prettier --write

tmep
  src/background/handlePowerMonitorStateChanges.ts
  src/background/useWindowService/utils/openBrowserWindow.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{json,md,ts,tsx,yml}
