Repository swivvel/swivvel-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

duh
  package.json
Due: prettier --write

last try
  package.json
Due: prettier --write

temp
  src/background/pollForIdleTime.ts
Due: eslint --fix, prettier --write

temp
  src/background/configureAutoUpdates/configureAutoUpdates.ts
  src/background/configureAutoUpdates/pollForUpdates.ts
Due: eslint --fix, prettier --write

Write transparent window logs & dev logs to correct directory (#37)
  src/background/background.ts
  src/background/setUserDataPath.ts
  src/background/useWindowService/openTransparentWindow/getLogger.ts
Due: eslint --fix, prettier --write

Open transparent window without focus on unlock/resume (#38)
  src/background/handlePowerMonitorStateChanges.ts
  src/background/useWindowService/utils/openBrowserWindow.ts
Due: eslint --fix, prettier --write

windows code signing
  .eslintrc.js
  .github/workflows/build.yml
  package.json
  signWindows.js
Due: prettier --write

what happened
  .github/workflows/build.yml
Due: prettier --write

baby step
  .github/workflows/build.yml
Due: prettier --write

lint
  .eslintrc.js
Due: none

rename
  .eslintrc.js
  myAfterPackHook.js
  package.json
  signWindows.js
Due: prettier --write

all platforms
  .github/workflows/build.yml
Due: prettier --write

touch up
  .github/workflows/build.yml
Due: prettier --write

fo real?
  .github/workflows/build.yml
Due: prettier --write

split
  .github/workflows/build.yml
Due: prettier --write

remove testing code
  .github/workflows/build.yml
  package.json
Due: prettier --write

Reduce log spam; check for updates every 10 minutes (#39)
  src/background/configureAutoUpdates/configureAutoUpdates.ts
  src/background/configureAutoUpdates/pollForUpdates.ts
  src/background/pollForIdleTime.ts
Due: eslint --fix, prettier --write

v1.2.22
  package-lock.json
  package.json
Due: prettier --write

Add code signing for Windows (#40)
  .eslintrc.js
  .github/workflows/build.yml
  package.json
  signWindows.js
Due: prettier --write

allow building windows code locally without signing
  signWindows.js
Due: none

Allow building windows code locally without signing (#41)
  signWindows.js
Due: none

temp
  src/background/useWindowService/openTransparentWindow/configureMousePassThroughHandler.ts
Due: eslint --fix, prettier --write

temp
  src/background/useWindowService/openTransparentWindow/configureMousePassThroughHandler.ts
  src/background/useWindowService/openTransparentWindow/openTransparentWindow.ts
Due: eslint --fix, prettier --write

temp
  src/background/background.ts
  src/background/configureMousePassThroughHandler.ts
  src/background/useWindowService/openTransparentWindow/openTransparentWindow.ts
Due: eslint --fix, prettier --write

Unregister mousemove when transparent window destroyed (#42)
  src/background/background.ts
  src/background/configureMousePassThroughHandler.ts
  src/background/useWindowService/openTransparentWindow/openTransparentWindow.ts
Due: eslint --fix, prettier --write

v1.2.23
  package-lock.json
  package.json
Due: prettier --write

temp
  src/background/useWindowService/getWindowOpenRequestHandler.ts
  src/background/useWindowService/openScreenShareWindow/openScreenShareWindow.ts
  src/background/useWindowService/openScreenShareWindow/types.ts
  src/background/useWindowService/useWindowService.ts
  src/background/utils/parseQueryParams.ts
Due: eslint --fix, prettier --write

temp
  .eslintrc.js
  src/background/useWindowService/openScreenShareWindow/openScreenShareWindow.ts
  src/background/utils/loadUrl.ts
  src/types.ts
Due: eslint --fix, prettier --write

temp
  src/background/configureSentry.ts
  src/background/useWindowService/openScreenShareWindow/openScreenShareWindow.ts
Due: eslint --fix, prettier --write

temp
  src/background/background.ts
  src/background/useWindowService/types.ts
  src/background/useWindowService/useWindowService.ts
Due: eslint --fix, prettier --write

temp
  src/background/background.ts
  src/background/useWindowService/openScreenShareWindow/openScreenShareWindow.ts
  src/background/useWindowService/types.ts
  src/background/useWindowService/useWindowService.ts
  src/background/utils/getShareableMediaSources.ts
Due: eslint --fix, prettier --write

fix google meet window if user isn't signed in to Google
  src/background/useWindowService/openGoogleMeetWindow/loadMeetingUrl.ts
  src/background/useWindowService/openGoogleMeetWindow/openGoogleMeetWindow.ts
  src/background/useWindowService/openGoogleMeetWindow/patchGetDisplayMediaOnUrlChange.ts
Due: eslint --fix, prettier --write

temp
  src/background/useWindowService/getWindowOpenRequestHandler.ts
  src/background/useWindowService/openScreenShareWindow/openScreenShareWindow.ts
  src/background/useWindowService/openScreenShareWindow/types.ts
  src/background/useWindowService/useWindowService.ts
  src/background/utils/index.ts
  src/background/utils/makeQueryString.ts
Due: eslint --fix, prettier --write

temp
  src/background/useWindowService/getWindowOpenRequestHandler.ts
  src/background/useWindowService/openScreenShareWindow/openScreenShareWindow.ts
  src/background/useWindowService/openScreenShareWindow/types.ts
  src/preload.ts
Due: eslint --fix, prettier --write

temp
  src/background/background.ts
  src/background/types.ts
  src/background/useWindowService/openScreenShareWindow/openScreenShareWindow.ts
Due: eslint --fix, prettier --write

temp
  package.json
Due: prettier --write

temp
  src/background/configureIpcHandlers.ts
  src/preload.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{json,md,ts,tsx,yml}
